!!!
html
	head
		link(rel="stylesheet", href="css/bootstrap.min.css", type="text/css")
	body
		.container-fluid
			h1 Welcome to CDK !
			p.well this page is supposed to explain you how to get started !
			|	From here, you should also be able to pick up one of your projects, a template project or an example
