<div class="propertyForm">
	<div class="spriteImageGroup">
		<label>Image :</label>
		<input type="text" class="spriteImage"/>
	</div>
	<a href="#" data-add="true" class="spriteAddButton">Ajouter <i class="icon-plus" /></a>
	<h4>Sprites </h4>
	<div class="spritesList">
		
	</div>
</div>

<div class="spriteLabel">
	<div class="pull-right">
		<a href="#" data-remove="true"><i class="icon-remove spriteLabelAction" /></a>
		<a href="#" data-minus="true"><i class="icon-minus spriteLabelAction" /></a>
	</div>
	<div class="clearfix">
		<input type="text" class="spriteName" /><br/>
		<div class="coordsInputs">
			<div class="pull-left">X:<input type="text" class="spriteCoordsInput" data-coord="x"/></div>
			<div class="pull-left">Y:<input type="text" class="spriteCoordsInput" data-coord="y"/></div>
			<div class="pull-left">W:<input type="text" class="spriteCoordsInput" data-coord="w"/></div>
			<div class="pull-left">H:<input type="text" class="spriteCoordsInput" data-coord="h"/></div>
		</div>
	</div>
</div>
